# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# 已忽略包含查询文件的默认文件夹
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/counter-app/node_modules/electron/dist/
/image-viewre/node_modules/electron/dist/
/notes-app/node_modules/electron/dist/
*.exe
/image-viewer/dist
